html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input[type="submit"],
button{
  outline: none;
  display: inline-block;
  border: 1px solid #e07084;
  background-color: #e68c9c;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

input[type="submit"]:hover,
button:hover{
  background-color: #e07084;
}
